.header-link {
  display: inline;
  margin: 0 1em;
}

.header-link a {
  color: var(--white);
  font-family: var(--font-cutive);
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.25s ease-in;
}

.header-link a:hover {
  color: var(--near-black);
}

@media (max-width: 992px) {
  .header-link {
    font-size: 2em;
    margin: 1em;
  }
  .header-link a {
    color: var(--near-black);
  }
}
