.hero {
  align-items: center;
  background: var(--grey);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.hero-title {
  color: var(--white);
  font-family: var(--font-playfair);
  font-size: 3em;
  margin: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeInBottomPerspective 0.5s ease-in forwards;
  animation-delay: 0.8s;
}

@media (min-width: 992px) {
  .hero-title {
    font-size: 4em;
    margin: 0em;
  }
}
